main {
	margin: 0 auto;
  max-width: 100%;
  /* padding: 50px 30px; */
}
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #ffffff;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  /* background: #e6e6e6; */
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background-image: url('./assets/images/bg7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background: var(--dark);
  color: var(--light); */
}

a {
  /* color: #22273d !important; */
  /* color: rgb(255, 166, 0) !important; */
  color: rgb(255, 196, 0) !important;
}

p {
  /* color: #22273d !important; */
  /* color: rgba(255, 255, 255, 0.8) !important; */
  color: rgb(212, 212, 212) !important;
}

i {
  font-size: 60px;
  /* padding: 15px 15px 15px 15px; */
  margin: 10px 10px 10px 10px;
  background: none;
}

#header-container {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 100%;
  justify-content: space-between !important;
}

.name-container {
  width: 100%;
  text-align: center;
}

.nav-container {
  width: 100%;
  text-align: center;
}

.icon {
  width: 30px;
  margin: 5px 5px 5px 5px;
}

.icon:hover {
  transition: 0.1s;
  width: 28px;
  height: 28px;
}

.header-name {
  margin: 0 0 0 0 !important;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

#footer {
  text-align: center;
}

.ml-photo-container {
  text-align: center;
  margin: 0 auto 20px auto;
}

.first-page-content {
  text-align: center;
}

.ml-photo {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* margin: 10px 0 20px 0 !important; */
}

.text-align-center {
  text-align: center;
}

.text-title {
  font-size: 22px !important;
}

.tile-wrapper {
  text-decoration: none;
}

.tile-wrapper:hover {
  text-decoration: none;
  transition: 0.1s;
  transform: scale(1.03);
}

.projects {
  max-width: 90%;
  position: relative;
  margin: 0 auto 0 auto;
}

.project-tile {
  margin: 10px 10px 10px 10px !important;
  border-width: 1px;
  border-radius: 3px;
  height: 325px;
  width: 400px;
  flex-shrink: 0;
  /* box-shadow: 1px 1px 1px 1px black; */
  background-color: rgb(0, 0, 0, .4);
  justify-content: center;
  text-align: center;
  text-decoration: none;
  align-content: space-between;
}

.projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin: 10px 0 20px 0 !important; */
}

.project-img-container {
  /* width: 100%; */
  width: 350px;
  height: 220px;
  background-color: transparent;
  display: inline-flex;
  margin: 0 0 0 0 !important;
  justify-content: center;
  text-decoration: none;
}

.project-img {
  /* max-height: 100%; */
  max-width: 100%;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

.project-name {
  background-color: transparent;
  color: rgb(212, 212, 212) !important;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-size: 18px;
}

.project-topics {
  text-decoration: none;
  background-color: transparent;
  color: rgb(212, 212, 212) !important;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  font-size: .5rem;
  text-decoration: none;
}

.project-blurb {
  text-decoration: none;
  font-style: italic;
  background-color: transparent;
  color: rgb(212, 212, 212) !important;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  font-size: .8rem;
  text-decoration: none;
}

#form-container {
  display: flex;
  justify-content: center;
  /* padding: 20px 50px 20px 5px; */
}

#contact-form {
  margin: 0 0 0 0 !important;
  justify-content: center;
  width: 100%;
}

.text-block {
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: rgb(212, 212, 212) !important;
}

.contact-text {
  font-weight: bold;
}

.btn {
  background-color: #22273d !important;
  color:rgb(255, 196, 0) !important;
  margin: 0 0 0 0 !important;
}

.form-input {
  padding: 5px 5px 5px 5px;
}

.error-msg {
  padding: 2px 2px 2px 2px;
}

.button-container {
  padding: 5px 5px 5px 5px;  
}

.technology-icon-container {
  display: inline-block;
  overflow-wrap: break-word;
  line-height: 3rem;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto 0 auto !important;
  padding: 20px 50px 20px 50px;
  text-align: center;
}

.linkedin-icon {
  margin: 10px 10px 10px 10px;
}

.resume-span {
  font-weight: bold;
  font-size: 18px;
}

.about {
  margin: 0 auto 0 auto;
  max-width: 85%;
}

.about-writeup {
  max-width: 100%;
  padding: 20px 0 30px 0;
}

.about-writeup p {
  font-size: 16px;
}